<% include head %>

  <h2>Table of Content</h2>
    <li>
      <ul><a href="/v1/ping">ping</a></ul>
      <ul><a href="/v1/encode">encode</a></ul>
      <ul><a href="/v1/decode">decode</a></ul>
    </li>

  <h2>ping</h2>
  <p>
    
  </p>

  <h2>encode</h2>
  <p>
    
  </p>

  <h2>decode</h2>
  <p>
    
  </p>
    
<% include foot %>
