<% include head %>

  <h2>Table of Content</h2>
    <li>
      <ul>ping</ul>
      <ul>encode</ul>
      <ul>decode</ul>
    </li>

  <h2>ping</h2>
  <p>
    
  </p>

  <h2>encode</h2>
  <p>
    
  </p>

  <h2>decode</h2>
  <p>
    
  </p>
    
<% include foot %>
